services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    public: false

  Tourze\VolcanoArkApiBundle\Controller\:
    resource: '../../Controller/'

  Tourze\VolcanoArkApiBundle\Command\:
    resource: '../../Command/'

  Tourze\VolcanoArkApiBundle\Repository\:
    resource: '../../Repository/'

  Tourze\VolcanoArkApiBundle\Service\:
    resource: '../../Service/'
    public: true

  Tourze\VolcanoArkApiBundle\EventListener\:
    resource: '../../EventListener/'
    public: true

  Tourze\VolcanoArkApiBundle\Client\:
    resource: '../../Client/'
    public: true
